.view {
  padding: 2rem 0;
  min-height: calc(100vh - 100px);
}

.arrow {
  padding: 0 30px;
}

.img__container {
  /* overflow: hidden;
  height: 300px; */
  display: grid;
  place-items: center;
  overflow: hidden;
}

.img__container > img {
  /* height: 100%;
  width: auto;
  object-position: center;
  object-fit: contain; */
  width: 100%;
  height: auto;
}

.MuiAvatar-root {
  width: 35px;
  height: 35px;
}
